html{
		font-size: 62.5%;
		line-height: 0.5rem;
}
.wrap{
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
		overflow: hidden;
}
.header{
		background-color: #29bde0;
		display: flex;
		position: relative;
		align-items: center;
		padding: 3%;
		border-bottom: solid 1px #fff; 
}
.content{
		background-color: #29bde0;
		overflow: hidden;
		border-bottom: solid 1px ; 
		width: 100%;
}
.main{
		padding-bottom: 27%;
}
.fooder{
		position: fixed;
		bottom: 0;
		background-color: #99dff0;
		height: 10rem;
		width: 100%;
		max-width: 640px;	
		overflow: hidden;	
		opacity: 0.85;
}

@media screen and (max-width: 480px){
    html{font-size: 40%;}
}