.head-img1{
		position: absolute;
		left: 2%;
		width: 8%;
}
h2{
		margin: 0 auto;
		color: #fff;
}
.head-img2{
		position: absolute;
		right: 2%;
		width: 7%;
}
.con-img{
		margin: 2% 0;
		text-align: center;
}
h3{
		color: #ffc865;
		font-size: 3rem;
		font-weight: bold;
		margin: 3% 20%;
}
.p1{
		color: #fff;
		font-size: 2.5rem;
		text-align: left;
		overflow: hidden;
		padding: 0 20%;
		line-height: 2.5rem;
}
h4{
		text-align: left;
		padding-left: 20%;
		font-size: 2.5rem;
}
span{
		position: absolute;
		top: 8%;
		right: 23%;
		color: #d5d5d5;
		font-size: 1.5rem;
}
.main-p{
		padding-left: 20%;
		padding-right: 18%;
		color: #bcbcbc;
		font-size: 2.2rem;
		overflow: hidden;
}
.main-btm{
		overflow: hidden;
		position: relative;
		border-bottom: solid 1px #ddd; 
}
.button-left{
		width: 40%;
		height: 6rem;
		font-size: 2.9rem;
		color: #fff;
		background-color: #f66f6f;
		outline: none;  
		border-radius: 10px;
		margin: 5%;
		float: left;
    	text-align: center;
}
.button-right{
		width: 40%;
		height: 6rem;
		background-color: #fbb435;
		border: none;
		font-size: 2.9rem;
		color: #fff;
		outline: none;
		border-radius: 10px;
		margin: 5%;
		float: right;
    	text-align: center;
}	